.app {
  text-align: center;
  width: 100%;
  color: white;

}

.app-mobile {
  text-align: center;
  background-color: black;
  width: 100%;
  color: white
}

.col-2 {
  grid-column: 2;
}
.content-lane {
  padding: 0 7rem;
}
.col-3 {
  grid-column: 3;
}

.col-4{
  grid-column: 4;
}

.row-1{
  grid-row: 1;
}

.row-2{
  grid-row: 2;
}

.row-3{
  grid-row: 3;
}





.textBlob{
  padding: 10px;
  margin: 5px;
}


.landing{
  margin-top: 70px;
}


.landingRow-1{
  display: grid;
  grid-template-columns: 15% 70% 15%;
  height:auto;
  min-height: 250px
}

.landingRow-1-mobile{
  display: grid;
  grid-template-rows: 18% 82%;
  height:auto
}




.landingRow2{
  position: relative;
  display: grid;
  width: 100%;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  grid-auto-rows: minmax(1rem, auto);
  /* gap: 1rem 5%; */
  align-items: center;
  background-color: white;
  color: black;
  min-height: 350px;



}

.landingRow3{
    margin-top: 1rem;
  height: auto;
  position: relative;
  width: 100%;
  height: min-content;
  margin-top: 1rem;
  position: relative;
  /* display: grid; */
  width: 100%;
  /* gap: 1rem 5%; */
  /* grid-template-rows: 20% 80%; */
  align-items: center;
  color: black;
  min-height: 350px;

}


.landingRow4{
  margin-top: 1rem;
  position: relative;
  display: grid;
  width: 100%;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  grid-auto-rows: minmax(1rem, auto);
  align-items: center;
  min-height: 350px;
}

.landingRow5{
  height: auto;
  margin-top: 1rem;
  position: relative;
  display: grid;
  width: 100%;
  align-items: center;
  color: black;
  min-height: 350px;

}

.landingRow6{
  padding: 15px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(230px, 1fr));
  row-gap: 2rem;
  margin-left: 10%;
  margin-right: 10%;

}




.landing-header-1{
  color: orange;
  font-size: 20pt;
  font-weight: bold;
}

.landing-header-2{
  color: rgb(169,115,16);
    font-size: 10pt;
  font-weight: bold;
}

.gray-background{
  background-color: rgb(77, 77, 77);
  width: 100%;
}

.dark-gray-background{
  background-color: rgb(38, 38, 38);
  width: 100%;
}

.white-background{
  background-color: white;
}


.who-is-mobile{
margin: 10px;
padding: 10px;
}

.who-is{
margin: 10px;
padding: 10px;
}




.socialWidget-container{
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: space-around;
  grid-row: 1 / span 2;
  grid-column: 3;
}

.socialWidget-container-mobile{
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: space-around;
    grid-column: 1 /3;

}

.socialWidget{
  width: 100%;
  background-color: rgb(13, 84, 190) ;
  border-radius: 5px;
  margin: 15px;
  align-self: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  max-width: 50px;
  min-width: 50px
}

.socialWidget-mobile{
  width: 100%;
  background-color: rgb(13, 84, 190) ;
  border-radius: 5px;
  margin: 15px;
  align-self: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  min-width: 100px;

}

.social-icon-container{
  width:50px;
  align-items: center;
}


.contactPanelContainer{
  width: 100%;
  display: flex;
  justify-content: center; 
  padding: 10px;
}

.contactPanel{
  min-height:250px;
  height: auto;
  width: 90%;
  max-height: 300px;
  max-width: 400px;
  display: flex;
  flex-direction: column;
  border-radius: 15px;
  background-color: lightslategray;
  align-self: center;
}

.contactPanelName{
  margin: 10px;
  height: 25px;
  border-radius: 15px;
}
.contactPanelEmail{
  margin: 10px;
  border-radius: 15px;
    height: 25px;

}

.contactPanelMessage{
  margin: 10px;
  height:100px;
      /* background-color: linen; */
    border-radius: 15px;
}

.contactPanelInput{
  height: 100%;
  width: 100%;
  border-radius: 15px;
  border: none;
  /* border-color: none; */
}

.floating-logo{
  position:relative;
  top: -88px;
}

.keyPointSlide{
  padding-left: 70px;
  padding-right: 70px;
  padding-top: 15px;
  padding-bottom: 15px;
}

.featuredIcons{
  width: 100%;
    height:auto;
  min-height: 300px;
  /* width:100%; */
  margin-top: 1rem;
  position: relative;
  display: grid;
  /* width: 100%; */
  gap: 4%;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  grid-auto-rows: minmax(150px, auto);
  align-items: center;
}
.featuredIcons > div {
  height: 100%;
  width: 100%;
  min-height: 150px;
  display: flex;
  min-width: 200px;
  justify-content: center;
  align-items: center;
}

.tokenomicsPanelContainer{
  display: flex;
  justify-content: center;
  padding: 10px
}

.tokenomicsPanel{
  width:75%;
  height: 90%;
  min-height: 300px;
  color: black;
  background-color: white;
  border-radius: 15px;
}

.tokenomicsPanelTabContent{
  height: 100%;
  width: 100%;
}


.submitBtn{
  color:white;
  width: 100px;
  border-radius: 10px;
  height: 30px;
  border: none;

  background-color:orange;
  align-self: center;
}


.projectCard{
  /* background-color: white;
  width: 150px;
  height: 150px;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding:5px;
  margin:10px;
  justify-self: center;
  color:black;
  margin:10px;
  justify-self: center; */

    background-color: white;
  color: black;
  display: flex;
  flex-direction: column;
  width: 60%;
  gap: 1rem 1rem;
  align-items: center;
  height: 100%;
  align-self: center;
  padding: 1rem;
  /* margin: 1rem; */
  height: min-content;
  border-radius: 6px;
  justify-self: center;
  align-self: flex-start;

}

.projectCards{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(230px, 1fr));
  gap: 2rem;
  
}

.score{
  background-color: rgb(255, 54, 54);
  color:white;
  border-radius: 5px;
  width:50%;
}


@media only screen and (max-width: 599px) {
  html {
    font-size: 94%;
  }
  .content-lane {
    padding: 1rem;
  }
}
@media only screen and (max-width: 400px) {
  html {
    font-size: 87%;
  }
  .content-lane {
    padding: 1rem;
  }
}

.card {
  min-height: 50vh;
  width: 100%;
}

.roadmapCard {

}
.phases {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(230px, 1fr));
  gap: 2rem;
}
.phase-box {
  background-color: white;
  color: black;
  display: flex;
  flex-direction: column;
  width: 80%;
  gap: 1rem 2rem;
  align-items: center;
  height: 100%;
  align-self: center;
  padding: 1rem;
  /* margin: 1rem; */
  height: min-content;
  border-radius: 6px;
  justify-self: center;
  align-self: flex-start;
}
.phase-box > p {
margin: 0;

}
.phase-box .phase-item {
display: flex;
}

.lane-padding {
  padding: 1rem 5rem;
}
@media screen and (max-width: 500px) {
  .lane-padding {
    padding: 1rem 1rem;
  }
}

#grad1 {
  height: 200px;
  background-color: black; /* For browsers that do not support gradients */
  background-image: linear-gradient(rgb(38, 38, 38) 51%, white 49%);
}